<!-- Begin head -->
<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.2.74.js"></script>
    <!-- Begin stylesheets -->
    {pyro:theme:css file="style.css"}
    <!--[if IE 6]>
    {pyro:theme:css file="style.ie6.css"}
    <![endif]-->
    <!--[if IE 7]>
    {pyro:theme:css file="style.ie7.css"}
    <link rel="stylesheet" href="style.ie7.css" type="text/css" media="screen" />
    <![endif]-->
    {pyro:theme:css file="rotator.css"}
    {pyro:theme:css file="thumbs.css"}
    {pyro:theme:css file="jquery.lightbox-0.5.css"}
    <!-- End stylesheets -->

    {pyro:template:metadata}

    {pyro:theme:js file="jquery.lightbox-0.5.js"}
    {pyro:theme:js file="script.js"}
    {pyro:theme:js file="trullove.js"}
    
    <title>{pyro:settings:site_name}&nbsp;&bull;&nbsp;{pyro:template:title}</title>
</head>