<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
<head>
{pyro:theme:partial name="metadata"}
</head>
<body>
<div id="art-main">
    <div class="art-sheet">
        <div class="art-sheet-tl"></div>
        <div class="art-sheet-tr"></div>
        <div class="art-sheet-bl"></div>
        <div class="art-sheet-br"></div>
        <div class="art-sheet-tc"></div>
        <div class="art-sheet-bc"></div>
        <div class="art-sheet-cl"></div>
        <div class="art-sheet-cr"></div>
        <div class="art-sheet-cc"></div>
        <div class="art-sheet-body">
            <div class="art-header">
                <div class="art-header-jpeg"></div>
                <div id="toprotator" class="slideshow" style="display: none;">
                    <img src="{pyro:url:site}images/trullove-puglia-trulli-garden-1.jpeg" width="352" height="264" title="Fici d'India" alt="Trullove Puglia trulli Garden Fici d'India"/>
                    <img src="{pyro:url:site}images/trullove-puglia-infinity-pool-7.jpeg" width="352" height="264" title="Infinity Edge Pool" alt="Trullove Puglia trulli Infinity Edge Pool"/>
                    <img src="{pyro:url:site}images/trullove-puglia-trulli-17.jpeg" width="352" height="264" title="Trullove Trulli" alt="Trullove Puglia Trulli"/>
                    <img src="{pyro:url:site}images/trullove-puglia-trulli-kitchen-1.jpeg" width="352" height="264" title="Fully Fitted Kitchens" alt="Trullove Puglia trulli Kitchen"/>
                    <img src="{pyro:url:site}images/trullove-puglia-trulli-garden-14.jpeg" width="352" height="264" title="20 Acre Olive Grove" alt="Trullove Puglia trulli 20 acres of sun baked olive groves"/>
                    <img src="{pyro:url:site}images/trullove-puglia-trulli-garden-figi-4.jpeg" width="352" height="264" title="Trullove Figs" alt="Trullove Puglia trulli figs"/>
                    <img src="{pyro:url:site}images/trullove-trullo-pool-1.jpeg" width="352" height="264" title="Infiniti Edge Swimming Pool" alt="Trullove Puglia trulli pool"/>
                    <img src="{pyro:url:site}images/trullove-trulli.jpeg" width="352" height="264" title="Trullove Trulli" alt="Trullove Puglia trulli"/>
                    <img src="{pyro:url:site}images/trullove-fico-d-india.jpeg" width="352" height="264" title="Fico d'India" alt="Trullove Puglia trulli garden fico d'india"/>
                    <img src="{pyro:url:site}images/trullove-fici-d-india.jpeg" width="352" height="264" title="Fici d'India" alt="Trullove Puglia trulli fico d'india"/>
                </div>
            </div>
            <div class="art-nav">
                <div class="l"></div>
                <div class="r"></div>
                {pyro:widgets:area slug="main_menu"}​​
            </div>
            <div class="art-content-layout">
                <div class="art-content-layout-row">
                    <div class="art-layout-cell art-content">
                        <div class="art-post">
                            <div class="art-post-body">
                                <div class="art-post-inner art-article">
                                    <div class="art-postcontent">
                                    <!-- article-content -->
                                    {pyro:template:body}
                                    <!-- /article-content -->
                                    </div>
                                    <div class="cleared"></div>
                                </div>
                                <div class="cleared"></div>
                            </div>
                        </div>
                    </div>
                    <div class="art-layout-cell art-divider">
                    </div>
                    <div class="art-layout-cell art-sidebar1">
                        <ul class="thumb">
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-roof-1.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-roof-1.png" alt="Trullove Puglia Trulli Roof Terrace" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-34.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-34.png" alt="Trullove Puglia Trulli" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-infinity-pool-5.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-infinity-pool-5.png" alt="Trullove Puglia Trulli Infinity Edge Pool Parasol" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-infinity-edge-pool-dawn.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-infinity-edge-pool-dawn.png" alt="Trullove Puglia Trullo - Infinity Edge Pool" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-garden-13.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-garden-13.png" alt="Trullove Puglia Trulli Garden Olive Tree" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-garden-figi-7.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-garden-figi-7.png" alt="Trullove Puglia Trulli Garden Fici d'India" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-diningroom-2.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-diningroom-2.png" alt="Trullove Puglia Trulli Dining Room" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-garden-figi-4.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-garden-figi-4.png" alt="Trullove Puglia Trulli Garden Figi Fig" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-bedroom-1.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-bedroom-1.png" alt="Trullove Puglia Trulli Bedroom 1" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-kitchen-2.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-kitchen-2.png" alt="Trullove Puglia Trulli Kitchen 2" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-kitchen-6.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-kitchen-6.png" alt="Trullove Puglia Trulli Kitchen 6" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-kitchen-9.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-kitchen-9.png" alt="Trullove Puglia Trulli Kitchen 6" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-lanterns.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-lanterns.png" alt="Trullove Puglia Trulli - Lanterns - Orange Couch" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-kitchen-12.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-kitchen-12.png" alt="Trullove Puglia Trulli Kitchen 12" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-kitchen-1a.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-kitchen-1a.png" alt="Trullove Puglia Trulli Kitchen 1" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-kitchen-11.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-kitchen-11.png" alt="Trullove Puglia Trulli Kitchen 11" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-kitchen-14.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-kitchen-14.png" alt="Trullove Puglia Trulli Kitchen 11" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-trulli-bathroom-1.png"><img src="{pyro:url:site}images/thumbs/trullove-trulli-bathroom-1.png" alt="Trullove Puglia Trulli - Bathroom" /></a></li>
                        </ul>
                    </div>
                    <div class="cleared"></div>
                </div>
            </div>
            <div class="cleared"></div>
            <div class="art-footer">
                <div class="art-footer-t"></div>
                <div class="art-footer-l"></div>
                <div class="art-footer-b"></div>
                <div class="art-footer-r"></div>
                <div class="art-footer-body">
                    <a href="#" class="art-rss-tag-icon" title="RSS"></a>
                    <div class="art-footer-text">
                        <p><a href="http://www.trullove.com/yourstrulli">Contact Us</a> | <a href="#">Terms of Use</a> | <a href="#">Trademarks</a>
                        | <a href="#">Privacy Statement</a><br />
                        Copyright &copy; 2011 Trullove. All Rights Reserved.</p>
                        <p>Eric &amp; Lu Van Wesenbeeck, Tel. (Belgium) +32 477 66 29 65</p>
                    </div>
                    <div class="cleared"></div>
                </div>
            </div>
            <div class="cleared"></div>
        </div>
    </div>
    <div class="cleared"></div>
    <p class="art-page-footer">
        <a href="http://www.aivolution.com/">Web Design by Aivolution LLC.</a>
    </p>
    </div>
</body>
</html>
