<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en">
<head>
{pyro:theme:partial name="metadata"}
</head>
<body>
<div id="art-main">
    <div class="art-sheet">
        <div class="art-sheet-tl"></div>
        <div class="art-sheet-tr"></div>
        <div class="art-sheet-bl"></div>
        <div class="art-sheet-br"></div>
        <div class="art-sheet-tc"></div>
        <div class="art-sheet-bc"></div>
        <div class="art-sheet-cl"></div>
        <div class="art-sheet-cr"></div>
        <div class="art-sheet-cc"></div>
        <div class="art-sheet-body">
            <div class="art-header">
                <div class="art-header-jpeg"></div>
                <div id="toprotator" class="slideshow" style="display: none;">
                  <img src="{pyro:url:site}images/trullove-puglia-trulli-garden-1.png" width="352" height="264" title="Fici d'India" alt="Trullove Puglia trulli Garden Fici d'India"/>
                    <img src="{pyro:url:site}images/trullove-puglia-infinity-pool-7.png" width="352" height="264" title="Infinity Edge Pool" alt="Trullove Puglia trulli Infinity Edge Pool"/>
                    <img src="{pyro:url:site}images/trullove-puglia-trulli-17.png" width="352" height="264" title="Trullove Trulli" alt="Trullove Puglia Trulli"/>
                    <img src="{pyro:url:site}images/trullove-puglia-trulli-kitchen-1.png" width="352" height="264" title="Trullove Fully fitted Kitchen" alt="Trullove Puglia trulli Kitchen"/>
                    <img src="{pyro:url:site}images/trullove-puglia-trulli-garden-14.png" width="352" height="264" title="20 Acre Olive Grove" alt="Trullove Puglia trulli 20 acres of sun baked olive groves"/>
                    <img src="{pyro:url:site}images/trullove-puglia-trulli-garden-figi-4.png" width="352" height="264" title="Trullove Figs" alt="Trullove Puglia trulli figs"/>
                    <img src="{pyro:url:site}images/trullove-trullo-pool-1.png" width="352" height="264" title ="Infinity Edge Pool" alt="Trullove Puglia trulli pool"/>
                    <img src="{pyro:url:site}images/trullove-trulli.png" width="352" height="264" title="Trullove Trulli" alt="Trullove Puglia trulli"/>
                    <img src="{pyro:url:site}images/trullove-fico-d-india.png" width="352" height="264" title="Fico d'India" alt="Trullove Puglia trulli garden fico d'india"/>
                    <img src="{pyro:url:site}images/trullove-fici-d-india.png" width="352" height="264" title="Fici d'India" alt="Trullove Puglia trulli fico d'india"/>
                  </div>
            </div>
            <div class="art-nav">
                <div class="l"></div>
                <div class="r"></div>
                {pyro:widgets:area slug="main_menu"}​​
            </div>
            <div class="art-content-layout">
                <div class="art-content-layout-row">
                    <div class="art-layout-cell art-content">
                        <div class="art-post">
                            <div class="art-post-body">
                                <div class="art-post-inner art-article">
                                    <div class="art-postcontent">
                                    <!-- article-content -->
                                    {pyro:template:body}
                                    <!-- /article-content -->
                                    </div>
                                    <div class="cleared"></div>
                                </div>
                                <div class="cleared"></div>
                            </div>
                        </div>
                    </div>
                    <div class="art-layout-cell art-divider">
                    </div>
                    <div class="art-layout-cell art-sidebar1">
                        <ul class="thumb">
                            <li><a class="lightbox" href="{pyro:url:site}images/puglia-trulli-martina-franca-centro-storico.png"><img src="{pyro:url:site}images/thumbs/puglia-trulli-martina-franca-centro-storico.png" title="Martina Franca - Centro Storico" alt="Martina Franca - Centro Storico" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/puglia-trulli-martina-franca-arco-di-sant-antonio.png"><img src="{pyro:url:site}images/thumbs/puglia-trulli-martina-franca-arco-di-sant-antonio.png" title="Martina Franca - Arco di San't Antonio" alt="Martina Franca - Arco di San't Antonio" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/puglia-trulli-martina-franca-ducal-palace.png"><img src="{pyro:url:site}images/thumbs/puglia-trulli-martina-franca-ducal-palace.png" title="Martina Franca - Ducal Palace" alt="Martina Franca - Ducal Palace" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/puglia-trulli-martina-franca-basilica-di-san-martino.png"><img src="{pyro:url:site}images/thumbs/puglia-trulli-martina-franca-basilica-di-san-martino.png" title="Martina Franca - Basilica di San Martino" alt="Martina Franca - Basilica di San Martino" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-ceglie-1.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-ceglie-1.png" title="Ceglie Messapica" alt="Trullove Puglia Trulli - Ceglie Messapica" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-ceglie-2.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-ceglie-2.png" title="Ceglie Messapica" alt="Trullove Puglia Trulli - Ceglie Messapica" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-ceglie-5.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-ceglie-5.png" title="Ceglie Messapica" alt="Trullove Puglia Trulli - Ceglie Messapica" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-cisternino-1.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-cisternino-1.png" title ="Cisternino" alt="Trullove Puglia Trulli - Cisternino" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-cisternino-7.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-cisternino-7.png" title="Cisternino" alt="Trullove Puglia Trulli - Cisternino" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-grottaglie-1.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-grottaglie-1.png" title="Grottaglie" alt="Trullove Puglia Trulli - Grottaglie" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-grottaglie-5.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-grottaglie-5.png" title="Grottaglie" alt="Trullove Puglia Trulli - Grottaglie" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-locorotondo-1.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-locorotondo-1.png" title="Locorotondo" alt="Trullove Puglia Trulli - Locorotondo" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-locorotondo-4.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-locorotondo-4.png" title="Locorotondo" alt="Trullove Puglia Trulli - Locorotondo" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-trulli-locorotondo-9.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-trulli-locorotondo-9.png" title="Locorotondo" alt="Trullove Puglia Trulli - Locorotondo" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-ostuni-1.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-ostuni-1.png" title="Ostuni" alt="Trullove Puglia Trulli - Ostuni" /></a></li>
                            <li><a class="lightbox" href="{pyro:url:site}images/trullove-puglia-ostuni-5.png"><img src="{pyro:url:site}images/thumbs/trullove-puglia-ostuni-5.png" title="Ostuni" alt="Trullove Puglia Trulli - Ostuni" /></a></li>
                        </ul>
                    </div>
                    <div class="cleared"></div>
                </div>
            </div>
            <div class="cleared"></div>
            <div class="art-footer">
                <div class="art-footer-t"></div>
                <div class="art-footer-l"></div>
                <div class="art-footer-b"></div>
                <div class="art-footer-r"></div>
                <div class="art-footer-body">
                    <a href="#" class="art-rss-tag-icon" title="RSS"></a>
                    <div class="art-footer-text">
                        <p><a href="http://www.trullove.com/yourstrulli">Contact Us</a> | <a href="#">Terms of Use</a> | <a href="#">Trademarks</a>
                        | <a href="#">Privacy Statement</a><br />
                        Copyright &copy; 2011 Trullove. All Rights Reserved.</p>
                        <p>Eric & Lu Van Wesenbeeck, Tel. (Belgium) +32 477 66 29 65</p>
                    </div>
                    <div class="cleared"></div>
                </div>
            </div>
            <div class="cleared"></div>
        </div>
    </div>
    <div class="cleared"></div>
        <p class="art-page-footer"><a href="http://www.aivolution.com/" />Web Design by Aivolution LLC.</p>
    </div>    
</body>
</html>
